nonebot2
nb-cli
nonebot-plugin-cnrail
nonebot_plugin_follow_withdraw
nonebot_plugin_sentry
nonebot-plugin-bilichat
nonebot-adapter-onebot
pillow
psutil
pyecharts
nonebot_plugin_apscheduler
lupa
openai
sentry_sdk
playwright
sympy
pypinyin
nonebot2[fastapi]
nonebot-plugin-servicestate
nonebot-plugin-mongodb
